<div class="product-connector-box">
  {% for product in section.settings.products %}
    <div class="product-connector">
      {{ product.title }}
    </div>
  {% endfor %}

</div>

{% schema %}

{

   "name": "Connector",

   "settings": [

   {

      "type": "product_list",

      "id": "products",

      "label": "Connector",

      "info": "Add app snippets or other liquid code to create advanced customizations."

   }],

   "presets": [

   {

      "name": "Connector"

   }]

}

{% endschema %}