{% style %}

{% endstyle %}

<div id="offerte-form" class="offerte-form">
    <form id="quote-form" class="quote-form" method="POST" action="" enctype="multipart/form-data">
      <label for="email">E-mail</label>
        <input id="email" name="email" class="email" required/>
        <label for="name">name</label>
        <input id="name" name="name" class="name" required/>

        <a href="javascript:;" class="submit-form">Submit Form</a>
    </form>
   <div class="quote-products">
     
   </div>
</div>
<script>
  function getStorage(storageName){
      let data = '';
      try {
        data = JSON.parse(localStorage.getItem(storageName));
      } catch(exception){
        data = "Exception has accured with error message " + exception;
      }

      return data;
  }
  
  document.addEventListener("DOMContentLoaded", function () {
    var products = getStorage('ismProducts');
    
    var HtmlProducts = '<div class="HTMLProducts">';
    
    for (const [key, value] of Object.entries(products)) {
      var productHtml = '';
      productHtml += '<div class="product">'+value.title+'</div>';
      HtmlProducts += productHtml;
    }

    HtmlProducts += '</div>';

    document.querySelector('.quote-products').innerHTML = HtmlProducts;

    var clickForm = document.querySelector('.submit-form');

    clickForm.addEventListener("click", function () {
      var postData = {};

      postData['products'] = getStorage('ismProducts');
      postData['customer'] = {
        "email" : document.querySelector('#email').value,
        "name"  : document.querySelector('#name').value
      };
      console.log(postData);

      const fetchPromise = fetch('//api.instijlmedia.nl/api/shops/test-shopify/index.php', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(postData),
      });

      fetchPromise.then((response) => {
        console.log(`Received response: ${response.json()}`);
      });

  });
  });
  
</script>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}