/* ============================================================
ISM Skeleton
License: InStijl Media
License URI: http://www.instijlmedia.nl
Platform: Shopify

Note: Only code for before loading.
=============================================================== */
.hide {display:none;}
.text-shadow {text-shadow:1px 2px 10px rgb(0 0 0 / 25%);}
.no-js:not(html) {display: none;}
body .overlay-bg {opacity:0;visibility: hidden;position: fixed;top: 0;right: 0;bottom: 0;left: 0;overflow: hidden;height: 100%;width: 100%;background: #000;transition-timing-function: cubic-bezier(.55,.06,.68,.19);-webkit-backface-visibility: hidden;backface-visibility: hidden;z-index:6;-webkit-transition: all 0.1s ease-in-out 0.1s;-moz-transition: all 0.1s ease-in-out 0.1s;-o-transition: all 0.1s ease-in-out 0.1s;transition: all 0.1s ease-in-out 0.1s;}

/* Typography
=============================================================== */
.h1, h1 {font-family:var(--font-stack-header);font-size:var(--font-h1-desktop);font-weight:var(--font-weight-header);}
.h2, h2 {font-family:var(--font-stack-header);font-size:var(--font-h2-desktop);font-weight:var(--font-weight-header);}
.h3, h3 {font-family:var(--font-stack-header);font-size:var(--font-h3-desktop);font-weight:var(--font-weight-header);} 
.h4, h4 {font-family:var(--font-stack-header);font-size:var(--font-h4-desktop);font-weight:var(--font-weight-header);}
.h5, h5 {font-family:var(--font-stack-header);font-size:var(--font-h5-desktop);font-weight:var(--font-weight-header);}
.h6, h6 {font-family:var(--font-stack-header);font-size:var(--font-h6-desktop);font-weight:var(--font-weight-header);}

/* General
=============================================================== */
.btn-cart:not(:disabled):not(.disabled):active, .btn-cart:not(:disabled):not(.disabled).active, .show>.btn-cart.dropdown-toggle, 
.icon-shape-info {color:var(--color-btn-primary);background-color:var(--color-btn-primary-lighter);}
.icon-shape-cart{color:var(--color-btn-cart);background-color:var(--color-btn-cart-lighter);}
.btn-cart, .shopify-challenge__button {background:var(--color-btn-cart);border:var(--color-btn-cart);color:var(--color-btn-cart-text);}
.btn-gradient-cart {background: linear-gradient(35deg,var(--color-btn-cart),var(--color-btn-cart-gradient))!important;border-left: none;border-right: none;color: #fff;box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);}
.btn-cart:hover, .btn-cart:focus, .btn-cart:active, .btn-cart:not(:disabled):not(.disabled):active, .btn-cart:not(:disabled):not(.disabled).active, .show>.btn-cart.dropdown-toggle, .shopify-challenge__button:hover {background:var(--color-btn-cart-darker);border:var(--color-btn-cart-darker);color:var(--color-btn-cart-text);}

/* Carousel Navigation */
.content-box .custom-nav {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.content-box .custom-nav a {position: absolute;z-index: 9;}
.content-box .custom-nav a.prev {opacity:0;visibility:hidden;left:-30px;right:auto;}
.content-box .custom-nav a.next {opacity:0;visibility:hidden;left:auto;right:-30px;}
.content-box:hover .custom-nav a.prev {opacity:1;visibility:visible;left: 30px;}
.content-box:hover .custom-nav a.next {opacity:1;visibility:visible;right: 30px;}

#topnav {height:29px;padding-top: 5px;padding-bottom: 5px;overflow:hidden;}
#topnav .item {color:var(--color-topnav-text);font-size:13px;text-align: center;display:block;padding: 0px;}
#topnav .item svg, #topnav .item i {display:inline-block;width: 16px;height: 16px;}
#header #search #formSearch .autocomplete .notfound{display: none;font-size: 18px;margin-top: 20px;margin-bottom: 25px;text-align: center;}
#header .nav-icons {display:block;height: 46px;overflow:hidden;}
#header .nav-icons .nav-item .nav-link {font-size:13px;line-height:1.8;min-width:auto;text-align:center;}
#header .nav-icons .nav-item .nav-link strong {font-weight:var(--font-weight-header);}
#header .nav-icons .nav-item .nav-link i {display:inline-block;height:28px;}
#header .nav-icons .nav-item .nav-link i {font-size:1.5rem;vertical-align: middle;}
#header .nav-icons .nav-item .nav-link .icon {line-height:28px;width: 28px;height: 28px;display: inline-block;}
#header #CartCount {background-color:var(--color-btn-cart);position: absolute;top:0px;left:25px;display: block;}
#search .more {display:none;}
#search .res-menu a svg, #search .res-menu a i {line-height:24px;width: 24px;height: 24px;display: block;}
#navbar {height:45px;overflow:hidden;position:relative;z-index:8;}
#navbar .navbar {display:none;}
#navbar .navbar .nav .nav-item > .nav-link {font-size:14px;}
#navbar .navbar .nav .nav-item > .nav-link strong {font-weight:var(--font-weight-header);}
#navbar .navbar .submenu {opacity:0;visibility:hidden;}
.headline {background:#f7f7f7;height:484px;overflow:hidden;}
.headline img {height:484px;}
.two_slides {max-width:1920px;margin:0 auto;}
.two_slides .headline {height:500px;}
.two_slides .headline .slide img {height:500px;object-fit: cover;}
#slider .headline .slide .slide-content {position: absolute;left: 60px;bottom: 60px;z-index: 1;}
#slider .headline .slide .slide-content.left-auto {left:auto;}
#slider .headline .slide .slide-content.slide-full {right:60px;}
#slider .headline .slide .slide-content .btn {display: inline-block;vertical-align: middle;}
#slider .headline .slide .slide-content .btn-inner--icon {display:inline-block;line-height: 18px;height:18px;width:18px;}
#servicedesk {background: #f7f7f7;height: 324px;overflow:hidden;}
#servicedesk .content-box {max-height:208px;overflow:hidden;}
#reviewWidget {background: #f7f7f7;height: 135px;overflow:hidden;}
#categories.categories {overflow:hidden;}
#categories .category .category-details {display:none;}
#categories .categoryborder {float: left;margin-right: 29px;height: 230px;}
#categories .category {background: #f7f7f7;height: 230px;overflow:hidden;}
#content #text .content-box .rte-setting p {font-size:16px;}
.productborder .product {padding:15px 15px;padding-bottom:30px;}
.productborder .product-image {display:block;object-fit:cover;max-height:290px;max-width:290px;}
.productborder .product-image .label {position:absolute;top:30px;right:45px;padding:8px 12px;}
.productborder .product .product-info {line-height:1.8;}
.productborder .product .product-info .product-stock {font-size:14px;letter-spacing:0.06rem;}
.productborder .product .product-info .product-title .title {display: inline-block;display: -webkit-box;min-height: 3em;overflow: hidden;line-height: 1.5;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-size: .875rem;}
.productborder .product .thumbnails {opacity: 0;visibility: hidden;z-index: 0;position: absolute;top: 0px;left: -95px;bottom: 0px;background: #fff;border-color: #eee;padding: 0px 10px;padding-top: 10px;z-index: 9;-webkit-transform: scale(1, 1);transform: scale(1, 1);-webkit-transform-origin: top right;transform-origin: top center;transition: ease-out 0.2s ease-out, -webkit-all 0.2s ease-out;transition: opacity 0.2s ease-out, all 0.2s ease-out;transition: opacity 0.2s ease-out, all 0.2s ease-out, -webkit-all 0.2s ease-out;}
.productborder .product .spr-badge {height:23px;}
.spr-form-input-text, .spr-form-input-email, .spr-form-input-textarea {-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;max-width: 100%;margin: 0;display: block;width: 100%;height: calc(1.5em + 1.25rem + 2px);padding: .625rem .75rem;font-size: 13px;font-weight: 400;line-height: 1.5;color: #8898aa;background-color: #fff;background-clip: padding-box;border: 1px solid #cad1d7;border-radius: .25rem;box-shadow: none;transition: all .2s cubic-bezier(.68,-.55,.265,1.55);}

/* Cart Page */
.cart_qty {border: 1px solid #ddd;}
.cart_qty a.btn {width: 52px;}
.cart_qty input {width: 60px;border: none;text-align: center;}
.cart__remove a {width:30px;height:30px;}
.relatedborder .owl-products {display:flex;}

/* MobileNav */
#mobileNav {position: fixed;left:15px;right:15px;bottom:15px;text-align: center;z-index:9999;-webkit-transition: all .4s cubic-bezier(0.17, 0.04, 0.03, 0.94);-moz-transition: all .4s cubic-bezier(0.17, 0.04, 0.03, 0.94);-o-transition: all .4s cubic-bezier(0.17, 0.04, 0.03, 0.94);transition: all .4s cubic-bezier(0.17, 0.04, 0.03, 0.94);}
#mobileNav .mobileNavIcons {border-radius: 1rem;box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;-webkit-backdrop-filter: saturate(200%) blur(30px);backdrop-filter: saturate(200%) blur(30px);background-color: hsla(0,0%,100%,.8)!important;}
#mobileNav .mobileNavIcons li {width:25%;}
#mobileNav .mobileNavIcons li a i, #mobileNav .mobileNavIcons li a svg {display: block;font-size: 24px;font-weight: normal;margin:5px auto;}
#mobileNav .mobileNavIcons li a {color:var(--color-text);display: block;text-align: center;font-size: 13px;padding-top:10px;padding-bottom:10px;width:100%;}
#mobileNav .icon-shape.btn-mobile.cart {position: relative;bottom: -30px;z-index: 9;}

/* Responsive Menu */
.overlay {opacity:0;visibility:hidden;height: 100%;width: 100%;position: fixed;z-index: 1900;left: 0;top: 0;background-color: rgba(0,0,0, 0.3);overflow-x: hidden;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.overlay.open {opacity:1;visibility:visible;}
.overlay-content {position: absolute;bottom:0px;top: 0px;right:-480px;max-width:85%;overflow-y:auto;background: #fff;z-index: 1901;height:100%;width:85%;-webkit-transition: all 0.2s ease-in 0.2s;-moz-transition: all 0.2s ease-in 0.2s;-o-transition: all 0.2s ease-in 0.2s;transition: all 0.2s ease-in 0.2s;}
.overlay.open .overlay-content {right:0;}
#overlayNavigation .overlay-content {left:-85%;right: auto;}
#overlayNavigation.open .overlay-content {left: 0;right: auto;}
.overlay .closebtn {position: absolute;top: 20px;right: 45px;font-size: 60px;}
.overlay-header .close, #resNav ul li.goback .close {padding: 1rem 1rem;margin: -1rem -1rem -1rem auto;}
.overlay-header {border-bottom: 0px;padding: .5rem 1rem;}
.overlay-title {margin-bottom: 0; line-height: 1.5; display:inline-block;}
.overlay-body {background:#ffffff;}
.overlay-footer {position: absolute;width: 100%;bottom: 0px;height:60px;background: #f8f9fa;}
#resMenu .menu-text {color:#fff;float: left;font-size:18px;line-height:24px;padding: 10px 15px;width: 100%;}
#resMenu .menu-text a strong {font-weight:normal;}
#resNavCloser {color: #000;position: absolute;top: 0px;right:0px;-webkit-transition: all 0.1s ease-in 0s;-moz-transition: all 0.1s ease-in 0s;-o-transition: all 0.1s ease-in 0s;transition: all 0.1s ease-in 0s;cursor:pointer;z-index:99;}
#resNavCloser span {font-size: 36px;}
#resNav {overflow-x: hidden;overflow-y: auto;box-sizing: border-box;width:100%;}
#resNav > ul {border-bottom: 1px solid #ddd;margin: 15px 15px !important;padding-bottom: 15px !important;margin-top:0px !important;}
#resNav > ul:last-child {border-bottom:0px solid;}
#resNav ul li {color:#000;display: inline-block;position:relative;width: 100%;}
#resNav ul li a {color:#000;display: block;font-size: 14px;line-height:2.2rem;width:100%;}
#resNav ul li.goback {border-bottom: 1px solid #ddd;}
#resNav ul li.goback a {line-height: 47px}
#resNav ul ul {background:#fff;position: fixed;top:0px;right:auto;left:-85%;width:85%;height: 100%;overflow:auto;z-index: 9;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
#resNav ul ul.nav-active {left:0px;}
#resNav ul ul li {padding: 0px 15px !important;font-weight:500;}
#resNav ul ul li i {font-size: 28px;vertical-align: middle;margin-left: -10px;}
#resNav ul ul li span {font-weight:normal;}
#resNav ul ul li strong {font-size:16px;vertical-align: middle;}
#header .ipad-view {display:none}
/* View points */
@media only screen and (max-width: 1400px) and (min-width: 580px)  {
  #header .ipad-view {display:inline-block!important}
  #header .hidden-mobile {display:none!important;}
}
@media (min-width: 1400px){
  .container {max-width: 1400px;}
}
@media (min-width: 992px) {
	.col-lg-20 {-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
}
@media (min-width:769px) {
    #header .nav-icons nav {justify-content:flex-end;align-items:flex-start;}
}
@media (max-width: 1400px){
  #slider .headline {height:372px;}
  #slider .headline img {max-width:100%!important;height: 365px;overflow:hidden;object-fit:cover;}
  #slider.two_slides .headline {height:484px;}
  #slider.two_slides .headline img {height:484px;}
  #slider.two_slides .headline {height:365px;}
  #slider.two_slides .headline img {height:365px;}
  #categories .category {height:166px;}
  #reviewWidget {overflow:visible;height: 365px;}
  #reviewWidget .ism-reviewwidget .block-box .ism-contentbox {height:auto;}
}
@media (max-width: 991px){
  #slider .headline {margin-left: -15px;margin-right: -15px}
  #slider .headline img {height:365px;}
  #categories .category {height:125px;}
  #reviewWidget {border:0 !important;overflow:visible;height:auto;} 
  #header .hidden-mobile {display:none!important;}
  #reviewWidget .ism-reviewwidget .block-box {background:#fff;box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);border: 0;transition: box-shadow .15s ease;width: 100%;display: block;padding: 15px;margin-bottom: 15px;}
}
@media only screen and (max-width: 768px) {
   /* Typography
  =============================================================== */
  .h1, h1 {font-size:var(--font-h1-mobile);}
  .h2, h2 {font-size:var(--font-h2-mobile);}
  .h3, h3 {font-size:var(--font-h3-mobile);} 
  .h4, h4 {font-size:var(--font-h4-mobile);}
  .h5, h5 {font-size:var(--font-h5-mobile);}
  .h6, h6 {font-size:var(--font-h6-mobile);}
  
  /* General
  =============================================================== */
  .content-box .custom-nav a.prev {opacity: 1;visibility: visible;left: 15px !important;}
  .content-box .custom-nav a.next {opacity: 1;visibility: visible;right:15px !important;}
  #header {height:127px;padding-top:5px;}
  #header.logo-center {height: 134.5px;}
  #header.logo-center #logo .d-flex.align-items-end.justify-content-center {justify-content: flex-start!important;}
  #header .nav-icons .nav-item .nav-link {font-size:10px;padding:0;padding-left:10px;}
  #header #CartCount {top:0px;left:42px;}
  #slider .headline {height:364px;}
  #slider .headline img {height:364px;max-width:none;}
  #slider.two_slides .headline {height:364px;}
  #slider.two_slides .headline img {height:364px;}
  #slider .headline .slide .slide-content {position:absolute;left:30px;bottom:30px;}
  #slider .headline .slide .slide-content .slide-text {display:none;}
  #reviewWidget {border:0 !important;overflow:visible;height:125px;}
  #categories.categories .categoryborder {height:auto;}
  #categories.categories .category .category-image {height:auto;}
  #categories.categories .category:hover .category-image img {transform: scale(1, 1);-ms-transform: scale(1, 1);-webkit-transform: scale(1, 1)}
  #categories .categoryborder .category {min-height:127px;height:auto;}
  #categories .category .category-details {position:unset;left:auto;bottom:auto;text-align:center;}
  #products .productborder .product {padding:0;}
  #products .productborder .product-image {width:150px;height:150px;}
  #products .productborder:hover .product .thumbnails {opacity: 0;visibility: hidden;display:none;}
  #footer .footer-widget {padding-top: 5px;padding-bottom: 5px;}
  #footer .footer-widget .title-box h4 {font-size: 18px;}
  #footer .footer-widget .title-box i, #footer .footer-widget .title-box svg {color:#fff;}
  #header .hidden-mobile {display:none!important;}
  #header .nav-icons nav {justify-content:flex-start;align-items:flex-start}
  .announcement-bar {text-align:center;}
  .announcement-bar {font-size:13px;}
}
@media only screen and (max-width: 480px) {
  #slider .headline {height:228px;}
  #slider .headline img {height:228px;max-width:none;}
  #slider.two_slides .headline {height:228px;}
  #slider.two_slides .headline img {width:480px;height:228px;}
  #reviewWidget {height:250px;}
  #reviewWidget .ism-reviewwidget {flex: 0 0 100%;max-width: 100%;}
}
@media only screen and (max-width: 360px) {
  #cart-form .buttons .col-6 {max-width: 100%;flex: 0 0 100%;}
}