$('.subnav-opener').click(function(){
  
});
$(document).ready(function(){
  $('#sidebar .subnav').hide();
  $('.subnav-opener').click(function(){
    var $this = $(this);
    if($this.hasClass('active')){
      $this.closest('.box-category').find('.subnav').hide(200);
      $this.removeClass('fa fa-chevron-left');
       $this.addClass('fa fa-chevron-down');
      $this.removeClass('active');
    } else {
      $this.closest('.box-category').find('.subnav').show(200);
      $this.removeClass('fa fa-chevron-down');
      $this.addClass('fa fa-chevron-left');
      $this.addClass('active');
    }
  });
});
/* FUNCTIONS
=============================================================== */
function stripHTML(dirtyString) {
  var container = document.createElement('div');
  container.innerHTML = dirtyString;
  return container.textContent || container.innerText;
}

function urlencode(str){
  return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').
    replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');
}
function liveSearch(){
  var query = $('#formSearch input').val();
  query = urlencode(query.replace('/', '-slash-'));
  if(query.length > 2){
    var url = '/search/suggest.json';
    url2 = url.split("/");
    if((url2[0]==="http:")&&(window.location.href.split("/")[0]==="https:")){url2[0] = "https:";url = url2.join("/");}
    
    $.ajax({
      url:url,
      data: {
		"q":query,
       	"resources": {
			type: "product",
          	"limit": 4,
          	"options": {
              "unavailable_products": "last",
              "fields": "title,product_type,variants.title,body"
            }
        },
        "view": "json",
	  },
      dataType: "json",
      success: function( json ) {
      if(json.resources.results.products.length > 0){
		$.each(json.resources.results, function(index, result){
          var productsHtml = [];
          var count = 0;
          $.each(result, function(index, product){
            console.log(product);
            var productHtml = '' +
                '<div class="search-product"><a href="' + product.url + '" title="' + product.title + '" class="text-body"><div class="row align-items-center">' +
                '<div class="search-product-image col-3"><img src="' + product.image + '" width="60" height="60" alt="' + product.title + '" /></div>' +
                '<div class="search-product-info col-9"><strong class="item-name">' + product.title + '</strong>';
                productHtml += '<div class="price">€' + (product.price) + '</div>';
            productHtml +=
              '</div></div></a></div>';
            productsHtml.push(productHtml);
            count++;
          });
          productsHtml = productsHtml.join('');
          $('#formSearch .autocomplete .products').html(productsHtml);
          $('#formSearch .autocomplete .more a').attr('onclick', '$(this).closest("form").submit();return false;');
          $('#formSearch .autocomplete .more em').html('(' + json.resources.results.products.length + ')');
          $("#formSearch .autocomplete .title-box span i").text('(' + json.resources.results.products.length + ')');
          $('#formSearch .autocomplete').removeClass('noresults');
        });
      } else {
        $('#formSearch .autocomplete .products').html('');
        $('#formSearch .autocomplete .more a').attr('href', url);
        $('#formSearch .autocomplete .more span').html('(0)');
        $("#formSearch .autocomplete .title-box span i").text('(0)');
        $('#formSearch .autocomplete').addClass('noresults');
      }
      $('#formSearch .autocomplete').addClass('search');
      }
    });
  } else {
    $('#formSearch .autocomplete').removeClass('search');
  }
}
/* CAROUSELS
=============================================================== */
/* Mobile Usp - Owl Carousel */
$('.owl-mobile-usp').owlCarousel({
    autoplay:true,smartSpeed:1500,dots:false,loop:true,margin:15,nav:false,lazyLoad:false,items:4,responsive:{0:{items:1},768:{items:2},992:{items:3},1200:{items:4}}
});
/* Slider - Owl Carousel */
$('.owl-slider').owlCarousel({
  autoplay:true,smartSpeed:1500,lazyLoad:false,autoplayTimeout:6000,dots:true,loop:false,rewind:true,items:1
});
$('.owl-slider').on({'initialized.owl.carousel': function () {$('.pre-slider').hide();}});
$('#slider').find(".prev").click(function () {
  $('.owl-slider').trigger('prev.owl.carousel');
});
$('#slider').find(".next").click(function () {
  $('.owl-slider').trigger('next.owl.carousel');
});
/* Owl-categories - Owl Carousel */
$('.owl-categories').owlCarousel({loop:false,margin:30,smartSpeed:1500,nav:false,rewind:true,lazyLoad:true,dots:false,items:4,responsive:{0:{items:1},361:{items:2},767:{items:3}} });
$('#categories').find(".prev").click(function () {
	$('.owl-categories').trigger('prev.owl.carousel');
});
$('#categories').find(".next").click(function () {
	$('.owl-categories').trigger('next.owl.carousel');
});
/* Owl-products - Owl Carousel */
$('.owl-products').owlCarousel({loop:false,margin:30,smartSpeed:1500,nav:false,rewind:true,lazyLoad:true,items:4,responsive:{0:{items:1},361:{items:2},767:{items:3},993:{items:4}} });
$('#products, #related').find(".prev").click(function () {
	$('.owl-products').trigger('prev.owl.carousel');
});
$('#products, #related').find(".next").click(function () {
	$('.owl-products').trigger('next.owl.carousel');
});
/* Owl-brands - Owl Carousel */
$('.owl-brands').owlCarousel({
  loop:false,margin:30,smartSpeed:1500,nav:false,rewind:true,lazyLoad:true,items:5,responsive:{ 0:{items:1},241:{items:2},768:{items:3},993:{items:4},1400:{items:5}}
});
$('#brands').find(".prev").click(function () {$('.owl-brands').trigger('prev.owl.carousel');});
$('#brands').find(".next").click(function () {$('.owl-brands').trigger('next.owl.carousel');});
/* Owl-thumbs - Owl Carousel */
$('.owl-thumbs').owlCarousel({
  loop:false,margin:15,smartSpeed:1500,nav:false,rewind:true,lazyLoad:true,items:5,responsive:{ 0:{items:1},241:{items:4},993:{items:4},1400:{items:5}}
});
/* Owl-services - Owl Carousel */
$('.owl-services').owlCarousel({
  loop:false,
  items:1,
  nav:false,
  navText:false,
  dots:false,
  mouseDrag:false,
  touchDrag:false,
  onTranslated: function(event){
   if (event.item.index == 0) jQuery(".prev").hide();
   else jQuery(".prev").show();

   if (event.item.index == (event.item.count - 1)) jQuery(".next").hide();
   else jQuery(".next").show();
  }
}).on('changed.owl.carousel', function(){
  setTimeout(function(){
    var activePage = $('.owl-services .owl-item.active').find('.page').data('index');
    $('#servicedesk .pagination .number.active').removeClass('active');
    $('#servicedesk .pagination .number[data-index="'+activePage+'"]').addClass('active');
  }, 50);
});

$('#servicedesk .pagination [data-way]').click(function() {
  var way = $(this).data('way');
  $('.owl-services').trigger(way+'.owl.carousel');
});
$('#servicedesk .pagination .number a').click(function() {
  var pageIndex = $(this).data('index');
  $('.owl-services').trigger('to.owl.carousel', (pageIndex-1));
});

/* JAVASCRIPT
=============================================================== */
$(document).click(function(event){
	if(!$(event.target).closest('#formSearch').length) {if($('#formSearch .autocomplete').hasClass('search')) {$('#formSearch input').val("");$('#formSearch .autocomplete').removeClass('search');}}
});
jQuery(document).on('mouseenter mouseleave', '#navbar .navbar .nav .nav-item.subs', function(e){
  $('.overlay-bg').addClass('open');
  return false;
});
$('.overlay-bg, #navbar .navbar .nav .nav-item.no-subs, #header').hover(function(e) {
    $('.overlay-bg').removeClass('open');
    $('.overlay-bg').removeClass('zindex');
});
// Search
$('#formSearch input').keyup(function(){liveSearch();});
$('#formSearch input').bind('webkitspeechchange', function(){liveSearch();});

// Product Thumbs
$('.productborder .thumbnails .thumb').hover(function() {
  var img = $(this).find('img').data('preview');
  $(this).closest('.productborder').find('.product .product-image source').attr('src', img);
  $(this).closest('.productborder').find('.product .product-image source').attr('srcset', img);
  $(this).closest('.productborder').find('.product .product-image img').attr('src', img);
});

//Loaded
$(document).ready(function() {
  $('.productborder .thumbnails').removeClass('hide');
});

/* Scroll */
jQuery(document).ready(function(){
  var isid = $( "a[href*='#'].scroll" );
  isid.click(function(event){
    var href = jQuery(this).attr('href');
    if(href.substr(0, 1) == '#'){event.preventDefault();jQuery('html, body').animate({scrollTop: (jQuery(href).offset().top - 150)+'px'}, 1000);}
  });
});
/* Productpage */
var $sync1 = $('.product-image-main'),
    $sync2 = $('.owl-thumbs'),
    $sync3 = $('.thumbs'),
    flag = false,
    duration = 300;

$sync1.owlCarousel({
        items: 1,
        margin: 10,
        loop: false,
        nav: false,
        rewind: true,
        video: true,
        dots: false,
        responsive: {
            0: {
                dots: true
            },
            576: {
                dots: false
            }
        }
    })
    .on('change.owl.carousel', function(e) {
        if (e.namespace && e.property.name === 'items' && !flag) {
            flag = true;
            $sync2.trigger('to.owl.carousel', [e.item.index, duration, true]);
            flag = false;
        }
    })
    .on('changed.owl.carousel', function(e) {
        var currentItem = e.item.index + 1;
        $('.product-thumbs #thumbs .item').removeClass('active');
        $('.product-thumbs #thumbs .item:nth-child(' + currentItem + ')').addClass('active');
    });
$('.page-title .custom-nav .prev').click(function() {
    $sync1.trigger('prev.owl.carousel');
});
$('.page-title .custom-nav .next').click(function() {
    $sync1.trigger('next.owl.carousel');
});

$sync2.owlCarousel({
    margin: 20,
    items: 6,
    nav: false,
    center: false,
    loop: false
})
.on('click', '.owl-item', function() {
   $sync1.trigger('to.owl.carousel', [$(this)
     .index(), duration, true
   ]);
})
.on('changed.owl.carousel', function(e) {
  if (!flag) {
    flag = true;
    $sync1.trigger('to.owl.carousel', [e.item.index, duration, true]);
    flag = false;
  }
});
$sync3.on('click', '.item', function() {
    $sync1.trigger('to.owl.carousel', [$(this).index(), duration, true]);
});
$('.menu-close i, .overlay-bg').click( function(e) {
  $('.overlay-bg, .mainnav .main-item.main-category, .sidenav, #search, .sidefilters, #mobileNav ul.mobileNavIcons li a').removeClass('open');
  $('.mainnav .main-item.main-category').removeClass('hovering');
  $('.overlay-bg').removeClass('zindex');
  $('.navigation').addClass('no-hover');
  return false;
});
$(document).ready(function(){
  $('#resMenu #resNav ul li a').click(function(e) {
    e.stopPropagation();
    var el = $(this).closest('li').find('ul:first');
    if (el.hasClass('nav-active')) {
      el.stop().removeClass('nav-active');
    } else {
      el.stop().addClass('nav-active');
    }
  });
  var hasClass = false;
  $('.main-item .navigation > ul .item').each(function(index,element){
    if($(this).hasClass('hover')){hasClass = true;}
  });
  if(hasClass == false){$('.main-item .navigation > ul .item:first-child').addClass('hover');}
});
$(".overlay-content").click(function(e) {e.stopPropagation();});

// Responsive
var checkMobile = function(){
  //Check Device
  var isTouch = ('ontouchstart' in document.documentElement);
  //Check Device //All Touch Devices
  if ( isTouch ) {$('html').addClass('touch');}
  else {$('html').addClass('no-touch');  };
};
checkMobile();
// mobileNav 
function mobileNav(e){
  var target = e.data('target');
  if($(target).hasClass('open')){$(target).removeClass('open');} else {$(target).addClass('open');}
}
function toggleSlide(em){
  em.slideToggle();
  $('.overlay-bg').toggleClass('open');
  em.closest('.compareProducts .comparePosition').toggleClass('open').css('z-index','1002');
};
var bindToCart = function () {
    // Bind the ajax cart to the recommended products "add to cart" buttons.
    ajaxCart.init({
      formSelector: '.AddToCartForm',
      cartContainer: '#cart-inner',
      addToCartSelector: '.add-to-cart-button',
      cartCountSelector: '.header-cart-count',
      cartCostSelector: '#CartCost',
      enableQtySelectors: false,
      moneyFormat: null,
      showVendor: true
    });
  }
  var loadAll = function() {
    var productRecommendationsSection = document.querySelector(".product-product-recommendations");
    if (productRecommendationsSection === null) { return; }
    var productId = productRecommendationsSection.dataset.productId;
    var limit = productRecommendationsSection.dataset.limit;
    var requestUrl = "/recommendations/products?section_id=product-recommendations&limit="+limit+"&product_id="+productId;
    var request = new XMLHttpRequest();
    request.open("GET", requestUrl);
    request.onload = function() {
      if (request.status >= 200 && request.status < 300) {
        var container = document.createElement("div");
        container.innerHTML = request.response;
        productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-product-recommendations").innerHTML;
        // Put the recommended products in a owl slider.
        if ($('.list-collection').filter('.slider.product-recommended').length) {
          $('.list-collection').filter('.slider.product-recommended').each(function() {
            setTimeout(function(){
              if ($('.recommended-container').data("custom") == true) {
                var toAdd = $('#custom-recommended').html();
                $('.slider.product-recommended').prepend(toAdd);
              }
              recommendationsSlider();
            }, 0);
          })
        }
        // Bind the ajax cart to the recommended products "add to cart" buttons.
        bindToCart();
      }
    };
    request.send();
  };
  var loadOnlyCustom = function() {
    var container = $('.custom-recommended-container');
    if (container === null) { return; }
    if ($('.list-collection').filter('.slider.product-recommended').length) {
      $('.list-collection').filter('.slider.product-recommended').each(function() {
        setTimeout(function(){
          var toAdd = $('#custom-recommended').html();
          $('.slider.product-recommended').prepend(toAdd);
          recommendationsSlider();
        }, 0);
      })
    }
    bindToCart();
  }
  if ($('.product-product-recommendations').length) {
    loadAll();
  }
  else if ($('.custom-recommended-container').length) {
    loadOnlyCustom();
  }
/*
function productsWidth(){
  $('#products .row').addClass('owl-mobile-products owl-carousel owl-theme').removeClass('row');
  $('#products').find('.productborder').attr('class', 'productborder');
  $('.owl-mobile-products').owlCarousel({
  	smartSpeed:500,dots:false,loop:true,lazyLoad:true,rewind:false,items:3,
    responsive:{0:{items:1,stagePadding:60,margin:10 },420:{items:2,stagePadding:60,margin:15},1200:{items:3,stagePadding:60,margin:15},1400:{items:3,margin:30,stagePadding:80}}
  });
  $('#products').find(".prev").click(function () {
  	$('.owl-mobile-products').trigger('prev.owl.carousel');
  });
  $('#products').find(".next").click(function () {
  	$('.owl-mobile-products').trigger('next.owl.carousel');
  });
}
*/
function footerCollapse(footerCollapseActive){
  if(footerCollapseActive == false){
    $('#footer .footer_content .footer_item').each(function(index,element){
      $(this).find('.footer-widget .title-box h4').wrap('<a href="" title="" data-toggle="collapse" data-target="#tab-block-'+index+'" class=" d-flex align-items-center justify-content-between"></a>');
      $(this).find('.footer-widget .content-box').wrap('<div id="tab-block-'+index+'" class="collapse"></div>');
      $(this).find('.footer-widget .title-box a').append('<i data-feather="chevron-down" class="fa fa-chevron-down" stroke-width="2"></i>');
    });
    feather.replace({ 'stroke-width': 1 })
    footerCollapseActive = true;
  }
}

$(document).ready(function() {
  var footerCollapseActive = false;
  var w = window.innerWidth;
  if (w < 767){
  	footerCollapse(footerCollapseActive);
  }
});
$(window).resize(function() {
  var footerCollapseActive = false;
  var w = window.innerWidth;
  if (w < 767){
  	footerCollapse();
  }
});
